@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using System.Security.Claims
<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>
<div class="job-container">
    @foreach (var Job in Model)
    {
        @if (Job.Worker == null)
        {
            <div class="panel panel-info job-panel">
                <div class="panel-heading">
                    <h4><strong>@Job.Title</strong></h4>
                </div>
                <div class="panel-body">
                    <h5>@Job.Description</h5>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <p><span id="result-@Job.JobId"><button id="@Job.JobId" class="claimButton btn">Claim this Job</button></span></p>
                    }
                    else
                    {
                        <p>This Job is unclaimed.</p>
                    }
                </div>
            </div>
        }
        else
        {
            <div class="panel panel-default job-panel">
                <div class="panel-heading">
                    <h4><strong>@Job.Title</strong></h4>
                </div>
                <div class="panel-body">
                    <h5>@Job.Description</h5>
                    <p>This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName</p>                    
                </div>
            </div>
        }
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".claimButton").click(function () {
            var clickedId = $(this).attr('id');
            $.ajax({
                url: '@Url.Action("ClaimJob")',
                type: 'POST',
                dataType: 'json',
                data: { jobId: clickedId },
                success: function (result) {
                    console.log(result);
                    var outputHtml =
                    $('#result-' + clickedId).text("This job is claimed by " + result.worker.firstName + " " + result.worker.lastName);
                }
            })
        })
    });
</script>
