@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using System.Security.Claims
<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>
@foreach (var Job in Model)
{    
    <h4>@Job.Title</h4>        
    <h5>@Job.Description</h5>
        
    @if (Job.Worker == null)
    {
        @if (User.Identity.IsAuthenticated)
        {
            <p><span id="result-@Job.JobId"><button id="@Job.JobId" class="claimButton btn">Claim this Job</button></span></p>
        }
        else
        {
            <p>This Job is unclaimed.</p>
        }
    }
    else
    {
        <p>This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName</p>

    }
    <hr />
}

<script type="text/javascript">
    $(document).ready(function () {
        $(".claimButton").click(function () {
            var clickedId = $(this).attr('id');
            $.ajax({
                url: '@Url.Action("ClaimJob")',
                type: 'POST',
                dataType: 'json',
                data: { jobId: clickedId },
                success: function (result) {
                    console.log(result);
                    var outputHtml = 
                    $('#result-'+ clickedId).text("This job is claimed by "+ result.worker.firstName +" "+result.worker.lastName);
                }
            })
        })
    });
</script>