@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@if (User.Identity.IsAuthenticated)
{
    var unfinishedJobs = 0;

    <div class="text-center">
        <h4>Hello @Model.FirstName @Model.LastName. You are Logged In</h4>
        <h3>Your Current Jobs:</h3>
        @foreach (var Job in Model.Jobs)
        {
                            
            @if (Job.Completed)
            {
            }
            else if (@Job.Pending)
            {
                unfinishedJobs++;
                <div id="result-@Job.JobId" class="panel panel-default">
                    <h5>@Job.Title</h5>
                    <button id="@Job.JobId" class="completeButton btn">Complete this job.</button>
                </div>
            }
            else
            {
                unfinishedJobs++;
                <div id="result-@Job.JobId" class="panel panel-default">
                    <h5>@Job.Title</h5>
                    <button id="@Job.JobId" class="startButton btn">Begin work on this job.</button>
                </div>
            }
        }

        @if (unfinishedJobs < 5)
        {
            <h3>@Html.ActionLink("Claim an available job", "Index", "Jobs").</h3>
        }
        else
        {
            <p>You already claimed 5 jobs. Comlete some of those jobs before you claim a new one.</p>
        }
    </div>
        }

<script type="text/javascript">
    $(document).ready(function () {
        $(".startButton").click(function () {
            var clickedId = $(this).attr('id');
            $.ajax({
                url: '@Url.Action("StartJob", "Jobs")',
                type: 'POST',
                dataType: 'json',
                data: { jobId: clickedId },
                success: function (result) {
                    console.log(result);
                    $('#result-' + clickedId).html(
                        "<h5>" + result.title + "</h5><button id=" + result.jobId + " class='completeButton'>Complete this job.</button>"
                    );
                    $(".completeButton").last().click(function () {
                        var clickedId = $(this).attr('id');
                        $.ajax({
                            url: '@Url.Action("CompleteJob", "Jobs")',
                            type: 'POST',
                            dataType: 'json',
                            data: { jobId: clickedId },
                            success: function (result) {
                                console.log(result);
                                $('#result-' + clickedId).html(
                                    "<h5>" + result.title + "</h5><p>This job is complete.</p>"
                                );
                            }
                        })
                    })
                }
            })
        })

        $(".completeButton").click(function () {
            var clickedId = $(this).attr('id');
            $.ajax({
                url: '@Url.Action("CompleteJob", "Jobs")',
                type: 'POST',
                dataType: 'json',
                data: { jobId: clickedId },
                success: function (result) {
                    console.log(result);
                    $('#result-' + clickedId).html(
                        "<h5>" + result.title + "</h5><p>This job is complete.</p>"
                    );
                }
            })
        })

    });
</script>